@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --completion-bar: linear-gradient(to right, #6096BA 37%, #6096BA 37%, rgba(128, 128, 128, 0.29) 37%);
}

.text-black {
  filter: brightness(0) saturate(100%);
}


main {
    margin-left: -1px;
}

.completetion-bar{
    background: var(--completion-bar);
}

.show-form{
    display: none;
}

.hidden{
    display: none;
    background-color: rgba(0, 42, 2,0.63);
}

.trash-icon:hover {
    transform: scale(1.05);
}

.dragNdrop {
    position: relative;
}

.time-remaining {
    font-size: 12px;
    margin-bottom: 8px;
    display: none;
}

.dragNdrop:hover .time-remaining {
    display: block;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(5px);
    z-index: 99;
    display: none;
}

.card-active {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 100;
    width: 80vw;
    height: auto;
    border: 3px solid gold;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    animation: shine 1.5s linear infinite alternate;
    overflow: visible;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 215, 0, 1);
    }
}